* {
	box-sizing: border-box;
}

body {
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
	font-family: "Georgia", "Times New Roman", Times, serif;
	color: #777777;
	margin: 0;
}

header {
	position: relative;
	height: 70px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

.YourName {
	position: absolute;
	height: 70px;
	margin: 0;
	top: 0;
	left: 10%;
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

.navigation{
	position: absolute;
	padding-top: 20px;
	right: 30%;
	font-size: 15px;
	color: #666666;
	text-align: center;

}

#heading {
	margin-top: 0;
	padding: 20px;
	padding-left: 0;
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	text-align: left;
}

#link {
	border-right: 1px solid;
	color: #cccccc;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
}

a {
	color: #cccccc;
	text-decoration: none;
}

.section {
	background: #ffffff;
	float: left;
	width: 650px;
	height: 100%;
	padding: 20px;
	margin: 10%;
	margin-top: 10px;
	border: 1px solid #dddddd;
}

#bio-image {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	width: 255px;
	height: 200px;
}

#input {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 608px;
	height: 30px;
}

#message {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 608px;
	height: 140px;
}

#Submit {
	height: 30px;
	width: 90px;
	background: #4aaaa5;
	border: none;
	color: #ffffff;
	text-align: center;
}

.gallery {
	position: relative;
	float: left;
	width: 630px;
	height: 100%;

}

.images {
	float: left;
	width: 250px;
	height: 250px;
	padding: 15px;
	margin-left: 40px;
}

.aside {
	background: #ffffff;
	float: left;
	width: 270px;
	padding: 10px 15px 20px 20px;
	margin-top: 10px;
	border: 1px solid #dddddd;
}

#icons {
	margin-left: 10px;
	width: 60px;
	height: 60px;
}

footer {
	position: fixed;
	left: 0;
    bottom: 0;
	height: 80px;
    width: 100%;
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
}

#Copyright {
	margin-top: 30px;
	text-align: center;
}